span.vm-menu {
  position: absolute;
}

span.vm-menu > ul > li {
  list-style: none; 
  display: flex;
}

span.vm-menu > ul {
  background: #eee;
  padding: .5em 0em;
  border-radius: 7px;
  margin: 0;
  min-width: 160px;
}

span.vm-menu > ul > li > a {
  padding: .2em 1em;
  text-align: left;
  font-family: sans-serif;
  font-size: 12pt;
  cursor: default;
  width: 100%;
}

span.vm-menu > ul > li > a:hover {
  background: #4f9dfb;
}

span.vm-menu.vm-h {
  display: none;
}
